<h2>Add a new book to the library</h2>

<form action ="/books/creation" method="POST">
  <label for="title">Book Title</label>
  <input type="text" name="title">

  <label for="title">Book Author</label>
  <input type="text" name="author">

  <label for="title">Book Image</label>
  <input type="text" name="image">

  <button type="submit">Create</button>
</form>